* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 640px) {

  /* Your mobile-specific styles go here */
  body {
    font-size: 14px;
    background-color: #040711;
    overflow-x: hidden !important;
    box-sizing: border-box;
  }

  .hero-section {
    background-image: url("../public/assets/hero_img.jpg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .main-container {
    max-width: 370px;
    margin: auto;
    width: 100%;

  }
  .logo{
    height: 10rem;
    display: flex;
    justify-content: center;
  }

  .logo img{
    display: flex;
    justify-content: center;
    width: 10rem;
  }

  .card-container {
    width: 95%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: .5rem;
  }

  .card {
    border: 1px solid #4D5562;
    border-radius: 1rem;
    padding: .5rem;
    display: grid;
    grid-template-rows: .5fr auto .5fr;
    background-color: #212936cc;
  }

  .card-header {
    display: flex;
    padding: .3rem;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #4D5562;
    
  }

  .btn-language {
    display: flex;
    padding: .5rem .8rem;
    border-radius: .8rem;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #4D5562;
    border: none;
    cursor: pointer;
  }

  .active {
    background-color: #4D5562;
    color: #F9FAFB;

  }

  .card-content {
    min-height: 15rem;
    padding: .5rem;
  }

  .textare-input {
    width: 95%;
    height: 70%;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    color: #F9FAFB;
    font-weight: bold;
    font-size: 14px;
    padding: .5rem;
    background-color: transparent
  }

  .card-content p {
    text-align: right;
    color: #4D5562;
    margin-bottom: 1rem;
    padding-right: .6rem;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: .5rem;
  }
  .btn-icon-container {
    display: flex;
  }

  .btn-translate {
    display: flex;
    background-color: #3662E3;
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #F9FAFB;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }

  .btn-translate:hover {
    background-color: #7CA9F3;
    color: #F9FAFB;
  }

  .btn-translate .img {
    width: 25px;
    height: 25px;
    padding-right: .5rem;
  }

  .btn-icon {
    border: 2px solid #4D5562;
    padding: .2rem;
    margin: .2rem;
    border-radius: .6rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    cursor: pointer;
  }
  .btn-icon img {
    width: 20px;
    height: 20px;
  }

  /**************************
  
  RESULT CARD
  *******************************/
  .card-header-result{
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4D5562;
  }

  .result {
    display: flex;
  }
}

/* Tablet Styles (641px to 1024px) */
@media only screen and (min-width: 641px) and (max-width: 1024px) {

  /* Your tablet-specific styles go here */
  body {
    font-size: 16px;
    background-color: #040711;
    overflow: hidden;
  }

  .hero-section {
    background-image: url("../public/assets/hero_img.jpg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .main-container {
    max-width: 900px;
    margin: auto;
    width: 100%;

  }
  .logo{
    display: flex;
    justify-content: center;
  }

  .logo img{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 15rem;
  }

  .card-container {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    margin-bottom: 10rem;
  }

  .card {
    border: 1px solid #4D5562;
    border-radius: 2rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: .7fr auto .5fr;
    background-color: #212936cc;
  }

  .card-header {
    display: flex;
    padding: .5rem;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #4D5562;
    
  }

  .btn-language {
    display: flex;
    padding: .8rem 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #4D5562;
    border: none;
    cursor: pointer;
  }

  .active {
    background-color: #4D5562;
    color: #F9FAFB;

  }

  .card-content {
    min-height: 15rem;
    padding: .5rem;
  }

  .textare-input {
    width: 100%;
    height: 85%;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    color: #F9FAFB;
    font-weight: bold;
    font-size: 1.1rem;
    padding: .5rem;
    background-color: transparent
  }

  .card-content p {
    text-align: right;
    color: #4D5562;
    margin-bottom: 1rem;
    padding-right: .6rem;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: .5rem;
  }
  .btn-icon-container {
    display: flex;
  }

  .btn-translate {
    display: flex;
    background-color: #3662E3;
    padding: .8rem 2rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #F9FAFB;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }

  .btn-translate:hover {
    background-color: #7CA9F3;
    color: #F9FAFB;
  }

  .btn-translate .img {
    width: 30px;
    height: 30px;
    padding-right: .5rem;
  }

  .btn-icon {
    border: 3px solid #4D5562;
    padding: .4rem;
    margin: .2rem;
    border-radius: .9rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    cursor: pointer;
  }

  /**************************
  
  RESULT CARD
  *******************************/
  .card-header-result{
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4D5562;
  }

  .result {
    display: flex;
  }
}

/* Desktop Styles (1025px to 1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {

  /* Your desktop-specific styles go here */
  body {
    font-size: 18px;
    background-color: #040711;
    overflow: hidden;
  }

  .hero-section {
    background-image: url("../public/assets/hero_img.jpg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .main-container {
    max-width: 1600px;
    margin: auto;
    width: 100%;

  }
  .logo{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }

  .logo img{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    width: 15rem;
  }

  .card-container {
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    
  }

  .card {
    border: 1px solid #4D5562;
    border-radius: 2rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: .5fr auto .5fr;
    background-color: #212936cc;
  }

  .card-header {
    display: flex;
    padding: .5rem;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #4D5562;
    
  }

  .btn-language {
    display: flex;
    padding: .8rem 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #4D5562;
    border: none;
    cursor: pointer;
  }

  .active {
    background-color: #4D5562;
    color: #F9FAFB;

  }

  .card-content {
    min-height: 15rem;
    padding: .5rem;
  }

  .textare-input {
    width: 100%;
    height: 85%;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    color: #F9FAFB;
    font-weight: bold;
    font-size: 1.1rem;
    padding: .5rem;
    background-color: transparent
  }

  .card-content p {
    text-align: right;
    color: #4D5562;
    margin-bottom: 1rem;
    padding-right: .6rem;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: .5rem;
  }
  .btn-icon-container {
    display: flex;
  }

  .btn-translate {
    display: flex;
    background-color: #3662E3;
    padding: .8rem 2rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #F9FAFB;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }

  .btn-translate:hover {
    background-color: #7CA9F3;
    color: #F9FAFB;
  }

  .btn-translate .img {
    width: 30px;
    height: 30px;
    padding-right: .5rem;
  }

  .btn-icon {
    border: 3px solid #4D5562;
    padding: .4rem;
    margin: .2rem;
    border-radius: .9rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    cursor: pointer;
  }

  /**************************
  
  RESULT CARD
  *******************************/
  .card-header-result{
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4D5562;
  }

  .result {
    display: flex;
  }
}

/* Large Desktop Styles (1281px and above) */
@media only screen and (min-width: 1281px) {

  /* Your large desktop-specific styles go here */
  body {
    font-size: 20px;
    background-color: #040711;
    overflow: hidden;
  }

  .hero-section {
    background-image: url("../public/assets/hero_img.jpg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .main-container {
    max-width: 1600px;
    margin: auto;
    width: 100%;

  }
  .logo{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
  }

  .logo img{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    width: 15rem;
  }

  .card-container {
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  .card {
    border: 1px solid #4D5562;
    border-radius: 2rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: .5fr auto .5fr;
    background-color: #212936cc;
  }

  .card-header {
    display: flex;
    padding: .5rem;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid #4D5562;
    
  }

  .btn-language {
    display: flex;
    padding: .8rem 2rem;
    border-radius: 1rem;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #4D5562;
    border: none;
    cursor: pointer;
  }

  .active {
    background-color: #4D5562;
    color: #F9FAFB;

  }

  .card-content {
    min-height: 15rem;
    padding: .5rem;
  }

  .textare-input {
    width: 100%;
    height: 85%;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    color: #F9FAFB;
    font-weight: bold;
    font-size: 1.1rem;
    padding: .5rem;
    background-color: transparent
  }

  .card-content p {
    text-align: right;
    color: #4D5562;
    margin-bottom: 1rem;
    padding-right: .6rem;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: .5rem;
  }
  .btn-icon-container {
    display: flex;
  }

  .btn-translate {
    display: flex;
    background-color: #3662E3;
    padding: .8rem 2rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: #F9FAFB;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }

  .btn-translate:hover {
    background-color: #7CA9F3;
    color: #F9FAFB;
  }

  .btn-translate .img {
    width: 30px;
    height: 30px;
    padding-right: .5rem;
  }

  .btn-icon {
    border: 3px solid #4D5562;
    padding: .4rem;
    margin: .2rem;
    border-radius: .9rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    cursor: pointer;
  }

  /**************************
  
  RESULT CARD
  *******************************/
  .card-header-result{
    display: flex;
    padding: .5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4D5562;
  }

  .result {
    display: flex;
  }
}